<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="19.2.0" targetFramework="net461" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="ESFA.DC.DateTimeProvider.Interface" version="0.1.6-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.FileService.Interface" version="0.1.18-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.ILR.1920.Model" version="0.1.5-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.ILR.1920.Model.Interface" version="0.1.4-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.ILR.ValidationErrors.Interface" version="0.1.5-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Jobs.Model" version="0.2.7-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Logging.Interfaces" version="0.1.4-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Serialization.Interfaces" version="0.1.6-beta0001" targetFramework="net461" />
</packages>