<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ESFA.DC.JobContext" version="0.1.11-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.JobContext.Interface" version="0.1.11-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Mapping.Interface" version="0.1.0-beta0001" targetFramework="net461" />
</packages>