<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->

  <Section Name="StatelessServiceConfiguration">
    <Parameter Name="ServiceBusConnectionString" Value="" />
    <Parameter Name="TopicName" Value="" />
    <Parameter Name="SubscriptionName" Value=""/>
    <Parameter Name="TopicMaxConcurrentCalls" Value=""/>
    <Parameter Name="TopicMaxCallbackTimeSpanMinutes" Value="" />
    <Parameter Name="JobStatusQueueName" Value="" />
    <Parameter Name="JobStatusMaxConcurrentCalls" Value="" />
    <Parameter Name="AuditQueueName" Value="" />
    <Parameter Name="AuditMaxConcurrentCalls" Value="" />
    <Parameter Name="LoggerConnectionString" Value="" />
  </Section>

  <Section Name="DataStoreSection">
    <Parameter Name="ILRDataStoreConnectionString" Value="" />
    <Parameter Name="ILRDataStoreValidConnectionString" Value="" />
  </Section>
  
  <Section  Name="AzureStorageSection">
    <Parameter Name="AzureBlobConnectionString" Value="" />
    <Parameter Name="AzureBlobContainerName" Value="" />
  </Section>

  <Section Name="SoftwareLicenceSection">
    <Parameter Name="AsposeLicence" Value="" />
  </Section>

  <Section Name="RedisSection">
    <Parameter Name="RedisConnectionString" Value="" />
  </Section>

  <Section Name="DataTransportSettings">
    <Parameter Name="MaxMessageSize" Value="1073741824" MustOverride="true"/>
    <Parameter Name="SecurityCredentialsType" Value="None" />
    <Parameter Name="CertificateFindType" Value="" />
    <Parameter Name="CertificateFindValue" Value="" />
    <Parameter Name="CertificateRemoteThumbprints" Value="" />
    <Parameter Name="CertificateStoreLocation" Value="" />
    <Parameter Name="CertificateStoreName" Value="" />
    <Parameter Name="CertificateProtectionLevel" Value="" />
    <Parameter Name="CertificateRemoteCommonNames" Value="" />
  </Section>

  <Section Name="VersionSection">
    <Parameter Name="ServiceReleaseVersion" Value="" />
  </Section>

  <Section Name="TopicAndTaskSection">
    <Parameter Name="TopicValidation" Value="" />
    <Parameter Name="TopicFunding" Value="" />
    <Parameter Name="TopicDeds" Value="" />
    <Parameter Name="TopicReports" Value="" />
    <Parameter Name="TopicReports_TaskGenerateValidationReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAllbOccupancyReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateFundingSummaryReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAdultFundingClaimReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateSummaryOfFunding1619Report" Value="" />
    <Parameter Name="TopicReports_TaskGenerateMathsAndEnglishReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateMainOccupancyReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateDataMatchReport" Value="" />
    <Parameter Name="TopicDeds_TaskPersistDataToDeds" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAppsIndicativeEarningsReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAppsCoInvestmentContributionsReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAppsMonthlyPaymentReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAppsDataMatchMonthEndReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateFundingSummaryPeriodEndReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateAppsAdditionalPaymentsReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateNonContractedAppsActivityReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateILRDataQualityReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateTrailblazerEmployerIncentivesReport" Value=""/>
    <Parameter Name="TopicReports_TaskGenerateFundingClaim1619Report" Value="" />
    <Parameter Name="TopicReports_TaskGenerateTrailblazerAppsOccupancyReport" Value=""/>
    <Parameter Name="TopicReports_TaskGenerateHNSReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateSummaryOfFM35FundingReport" Value="" />
    <Parameter Name="TopicReports_TaskGenerateHNSSummaryReport" Value="" />
  </Section>
  
  <Section Name="LarsSection">
    <Parameter Name="LarsConnectionString" Value=""/>
  </Section>

  <Section Name="FCSSection">
    <Parameter Name="FCSConnectionString" Value=""/>
  </Section>

  <Section Name="DASPaymentsSection">
    <Parameter Name="DASPaymentsConnectionString" Value=""/>
  </Section>

  <Section Name="OrgSection">
    <Parameter Name="OrgConnectionString" Value="" />
  </Section>

  <Section Name="DasCommitmentsSection">
    <Parameter Name="DasCommitmentsConnectionString" Value="" />
  </Section>

  <Section Name="CollectionsManagementSection">
    <Parameter Name="CollectionsManagementConnectionString" Value="" />
  </Section>

  <Section Name="EasSection">
    <Parameter Name="EasConnectionString" Value="" />
  </Section>

  <Section Name="PostcodeSection">
    <Parameter Name="PostcodeConnectionString" Value="" />
  </Section>

  <Section Name="LargeEmployerSection">
    <Parameter Name="LargeEmployerConnectionString" Value="" />
  </Section>

  <Section Name="IlrValidationErrorsSection">
    <Parameter Name="IlrValidationErrorsConnectionString" Value="" />
  </Section>
</Settings>
